<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/static/images/hoangicon.png"/>
<title>Bohemian Guy</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link rel="stylesheet" href="/static/css/style.css">
  
</head>

<body>

  <div class="html active-location-card active-location-card--new-york">

<article class="location-card location-card--new-york">
    
    <div class="location-card__city-name">Bohemian<br>Guy</div>

    <ul class="location-card__hashtags">
        <li><a href="https://twitter.com/hashtag/newyork?src=hash">#vietnam</a></li>
        <li><a href="https://twitter.com/hashtag/iveneverbeen?src=hash">#iveneverbeen</a></li>
        <li><a href="https://twitter.com/hashtag/dreamscometrue?src=hash">#kid</a></li>
        <li><a href="https://twitter.com/hashtag/bigapple?src=hash">#bohemian</a></li>
    </ul>
    <!-- /.location-card__hashtags -->

    <div class="location-card__panel">

        <div class="location-card__slides">
            
            <div class="location-card__slide  point-of-interest">
                
                <div class="point-of-interest__name">Bohemian Guy</div>
        
                <div class="point-of-interest__likes">5 peoples like this</div>

				
                <div class="point-of-interest__description">
				"Anh không thích phải mở đi mở lại Tinder để chat với em chút nào, liệu rằng, anh có thể xin số điện thoại của em để nhắn tin một cách đường đường chính chính không?"																	  
				<br></br>
				<em>- Bohemian Guy -</em>
				<br></br>
				<br></br>
				<br></br>
				</div>
				
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-like" data-href="https://www.facebook.com/changtraithichnoilamnham/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
            </div>
            <!-- /.location-card__slide -->

        </div>
        <!-- /.location-card__slides -->

        <ul class="location-card__thumbnails">
            <li><img src="https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-1/p100x100/35518931_985794131599734_1288778728997912576_n.jpg?_nc_cat=0&oh=17652ea505c75799646a7341083b229e&oe=5B9DC766"></li>
            <li><img src="https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-1/p100x100/34199452_1310618472405675_8960643011843194880_n.jpg?_nc_cat=0&oh=1adb8ef7c96df98835db94479ffec701&oe=5BA82981"></li>
            <li><img src="https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-1/p100x100/35924564_2072825456268141_4796720463738830848_n.jpg?_nc_cat=0&oh=588d0e99a9e9014cf2570101509e7ea6&oe=5BE93B2C"></li>
            <li><img src="https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-1/p100x100/26804605_573098653035445_310535705391497321_n.jpg?_nc_cat=0&oh=a88ff90fc696a8d8072f1fe2eab449f0&oe=5BB08FF5"></li>
            <li><img src="https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-1/p100x100/20621109_1362701320495117_6921662680210470499_n.jpg?_nc_cat=0&oh=98f8089ff25c381a5eb6baf0f03312f7&oe=5BAF9150"></li>
            <li><img src="https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-1/p100x100/36310243_2108586179399596_303343743296077824_n.jpg?_nc_cat=0&oh=827eab788af9d229e365e13f64a2e9cb&oe=5BB29C33"></li>
            <li><img src="https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-1/c0.13.100.100/p100x100/27858139_1038164579664102_7040107528796633138_n.jpg?_nc_cat=0&oh=d6524eb7fdb5a426e52fa65bb830a231&oe=5BDC84BD"></li>
			<li><img src="https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-1/c19.153.601.601/s100x100/35043491_661033777562885_1956111325608280064_n.jpg?_nc_cat=0&oh=ccf1f903a218a94f223bedadbe753e51&oe=5BDD7CA1"></li>
			
			<!--<li class="location-card__thumbnails-more">+15</li>-->
        </ul>
        <!-- /.location-card__thumbnails -->
	
    <!-- /.location-card__panel -->

</article>
<!-- /.location-card -->
  
</div> 

</body>

</html>
